.has-leather-goods-grey-color {
  color: #313131;
}

.has-leather-goods-grey-background-color {
  background-color: #313131;
}

.has-white-color {
  color: #ffffff;
}

.has-white-background-color {
  background-color: #ffffff;
}

header .desktop-navbar {
  background-color: #313131;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 20px 50px;
  overflow: hidden;
}
header .desktop-navbar img {
  height: 50px;
}
header .desktop-navbar ul {
  display: flex;
  margin-left: auto;
  gap: 30px;
  list-style-type: none;
}
header .desktop-navbar ul li.menu-item a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 400;
  padding: 1.8px 0;
  font-size: 1.4em;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
header .desktop-navbar ul li.menu-item a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  top: 0;
  background: #ffffff;
  height: 1px;
  border-radius: 10%;
  transition-property: left, right;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
header .desktop-navbar ul li.menu-item a:hover:before, header .desktop-navbar ul li.menu-item a:focus:before, header .desktop-navbar ul li.menu-item a:active:before {
  left: 0;
  right: 0;
}
header .desktop-navbar ul li.menu-item a:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ffffff;
  height: 1px;
  border-radius: 10%;
  transition-property: left, right;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
header .desktop-navbar ul li.menu-item a:hover:after, header .desktop-navbar ul li.menu-item a:focus:after, header .desktop-navbar ul li.menu-item a:active:after {
  left: 0;
  right: 0;
}
header .desktop-navbar ul li.current-menu-item {
  border-bottom: 1px solid white;
}

.front-page .front-page-banner {
  height: 91vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front-page .front-page-banner video {
  width: auto;
  height: 115vh;
  position: absolute;
  top: -185px;
  z-index: -5;
  transform: translateX(0%);
}
.front-page .front-page-banner .banner-content {
  min-width: 600px;
  min-height: 400px;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
}
.front-page .front-page-banner .banner-content img {
  height: clamp(5em, 14vw, 8em);
}
.front-page .front-page-banner .banner-content p {
  max-width: 520px;
  text-align: center;
  color: #ffffff;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 1.3em;
}
.front-page .front-page-banner .banner-content .banner-content-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  /* Shutter Out Horizontal */
}
.front-page .front-page-banner .banner-content .banner-content-btns a {
  text-decoration: none;
  padding: 9px 40px;
  border: 1px solid white;
  font-weight: 400;
  font-size: 1em;
}
.front-page .front-page-banner .banner-content .banner-content-btns .hvr-shutter-out {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  background: transparent;
  transition-property: color;
  transition-duration: 0.3s;
  color: #ffffff;
  font-family: "Overpass", sans-serif;
}
.front-page .front-page-banner .banner-content .banner-content-btns .hvr-shutter-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.front-page .front-page-banner .banner-content .banner-content-btns .hvr-shutter-out:hover,
.front-page .front-page-banner .banner-content .banner-content-btns .hvr-shutter-out:focus,
.front-page .front-page-banner .banner-content .banner-content-btns .hvr-shutter-out:active {
  color: #313131;
}
.front-page .front-page-banner .banner-content .banner-content-btns .hvr-shutter-out:hover:before,
.front-page .front-page-banner .banner-content .banner-content-btns .hvr-shutter-out:focus:before,
.front-page .front-page-banner .banner-content .banner-content-btns .hvr-shutter-out:active:before {
  transform: scaleX(1);
}

footer {
  min-height: 140px;
  width: 100%;
  background-color: #313131;
  display: flex;
  align-items: center;
  padding: 10px 40px;
}
footer .footer-logo img {
  height: 4rem;
}
footer .footer-content {
  display: flex;
  margin-left: auto;
}
footer .footer-content ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 8px;
  max-width: 550px;
  justify-content: right;
}
footer .footer-content ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
}
footer .footer-content ul li a:hover {
  text-decoration: underline;
}
footer .footer-content ul form#searchform input#s {
  padding: 5px 10px;
  min-width: 30%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ffffff;
  font-family: "Overpass", sans-serif;
  color: #ffffff;
  font-size: 1em;
  background-color: #313131;
  max-width: 140px;
}
footer .footer-content ul form#searchform input#s:focus {
  outline: none;
}
footer .footer-content ul form#searchform input#searchsubmit {
  padding: 5px 20px;
  margin-left: 15px;
  font-family: "Overpass", sans-serif;
  background-color: #ffffff;
  border: none;
  color: #313131;
  font-weight: 400;
  font-size: 0.8em;
}
footer .footer-content ul form#searchform input#searchsubmit:hover {
  cursor: pointer;
  background-color: #505050;
  transition: 0.2s ease;
}

.front-page-blocks {
  display: flex;
  align-items: center;
}

.wp-block-buttons {
  width: 50rem;
  padding-bottom: 60px;
}
.wp-block-buttons a {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  background: transparent;
  transition-property: color;
  transition-duration: 0.3s;
  font-family: "Overpass", sans-serif;
  color: #313131 !important;
  border: 1.6px solid #313131;
}
.wp-block-buttons a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  background: #313131;
  transform: scaleX(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.wp-block-buttons a:hover, .wp-block-buttons a:focus, .wp-block-buttons a:active {
  color: #ffffff !important;
}
.wp-block-buttons a:hover:before, .wp-block-buttons a:focus:before, .wp-block-buttons a:active:before {
  transform: scaleX(1);
  color: #ffffff;
}

h2 {
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 500;
  font-size: 3em;
}

.home-about-block {
  padding: 60px 50px;
  width: 100%;
  margin-top: 40px;
}
.home-about-block div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-about-block div div {
  align-items: center;
  justify-content: left;
}
.home-about-block div div .wp-container-12 {
  justify-content: center;
}
.home-about-block div div .wp-container-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home-about-block div div .wp-container-14 h3 {
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 500;
  font-size: 2em;
}
.home-about-block div div .wp-container-14 p {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  padding-bottom: 40px;
  line-height: 1.7em;
  max-width: 350px;
}
.home-about-block div div .wp-container-13 {
  width: 100%;
  align-items: center;
  justify-content: left;
  height: 48px;
  overflow-y: visible;
}
.home-about-block div div .wp-container-13 .custom-btn-white a {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  background: transparent;
  transition-property: color;
  transition-duration: 0.3s;
  font-family: "Overpass", sans-serif;
  color: white !important;
  border: 1.6px solid white;
}
.home-about-block div div .wp-container-13 .custom-btn-white a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #313131;
  background: white;
  transform: scaleX(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.home-about-block div div .wp-container-13 .custom-btn-white a:hover, .home-about-block div div .wp-container-13 .custom-btn-white a:focus, .home-about-block div div .wp-container-13 .custom-btn-white a:active {
  color: #313131 !important;
}
.home-about-block div div .wp-container-13 .custom-btn-white a:hover:before, .home-about-block div div .wp-container-13 .custom-btn-white a:focus:before, .home-about-block div div .wp-container-13 .custom-btn-white a:active:before {
  transform: scaleX(1);
  color: #313131;
}

.mailpoet_form form h2.mailpoet-heading {
  font-family: "Alumni Sans", sans-serif !important;
  font-size: 3em !important;
  font-weight: 400 !important;
  color: #313131 !important;
  padding-bottom: 20px !important;
}

.mailpoet_form p,
.mailpoet_form p span {
  font-size: 1em !important;
  line-height: 1em !important;
  font-family: "Overpass", sans-serif !important;
  font-weight: 300 !important;
  color: #313131 !important;
  padding-top: 0 !important;
}

.mailpoet_form p {
  padding-bottom: 20px !important;
}

.mailpoet_form {
  max-width: 450px !important;
  min-height: 55vh !important;
}

div .mailpoet_submit {
  font-family: "Overpass", sans-serif !important;
  font-weight: 300 !important;
  border: 1.5px solid #313131;
  border-color: #313131;
  background-color: #313131 !important;
  color: #ffffff !important;
}
div .mailpoet_submit:hover {
  background-color: #ffffff !important;
  color: #313131 !important;
  border: 1.5px solid #313131 !important;
  border-color: #313131 !important;
  cursor: pointer !important;
  transition: 0.2s ease !important;
}

.wp-block-columns {
  width: 90%;
}

p.products-description {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  margin-left: 8%;
  padding-top: 5px;
  max-width: 425px;
}

.products-list {
  width: 100%;
  padding: 50px 8%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.products-list .product a {
  text-decoration: none;
  color: #313131;
}
.products-list .product a img {
  width: 100%;
  max-width: 280px;
  min-width: 150px;
  height: auto;
}
.products-list .product a h3 {
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
}
.products-list .product a h5 {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
}

.single-product {
  padding-left: 8%;
  padding-right: 8%;
}
.single-product h2 {
  font-family: "Alumni Sans", sans-serif;
  font-size: 3.2em;
  font-weight: 500;
  color: #313131;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.single-product h3.product-price {
  padding-bottom: 1rem;
}
.single-product .purchase-btn button {
  text-decoration: none;
  color: #fff;
  background-color: #313131;
  padding: 8px 40px;
  border: none;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
.single-product .product-gutenberg-content p {
  font-family: "Overpass", sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  color: #313131;
  margin-top: 0;
  margin-bottom: 0px;
  max-width: 570px;
  padding-bottom: 40px;
}
.single-product .product-gutenberg-content h5 {
  padding-bottom: 20px;
  padding-top: 0px;
  font-family: "Alumni Sans", sans-serif;
  font-size: 1.7em;
  color: #313131;
  font-weight: 400;
}

.product-custom-item-block {
  max-width: 1125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 100px;
}
.product-custom-item-block .product-custom-item-block-text h3 {
  font-family: "Alumni Sans", sans-serif;
  font-size: 2.7em;
  color: #313131;
  font-weight: 400;
}
.product-custom-item-block .product-custom-item-block-text p {
  padding-top: 8px;
  padding-bottom: 0;
  max-width: 350px;
  font-family: "Overpass", sans-serif;
  font-size: 1.2em;
  color: #313131;
  font-weight: 300;
  line-height: 1.5em;
}
.product-custom-item-block .product-custom-item-block-text a {
  margin-top: 20px;
  padding: 7px 35px;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  background: transparent;
  transition-property: color;
  transition-duration: 0.3s;
  font-family: "Overpass", sans-serif;
  color: #313131 !important;
  border: 1.6px solid #313131;
}
.product-custom-item-block .product-custom-item-block-text a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  background: #313131;
  transform: scaleX(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.product-custom-item-block .product-custom-item-block-text a:hover, .product-custom-item-block .product-custom-item-block-text a:focus, .product-custom-item-block .product-custom-item-block-text a:active {
  color: #ffffff !important;
}
.product-custom-item-block .product-custom-item-block-text a:hover:before, .product-custom-item-block .product-custom-item-block-text a:focus:before, .product-custom-item-block .product-custom-item-block-text a:active:before {
  transform: scaleX(1);
  color: #ffffff;
}
.product-custom-item-block .product-custom-item-block-images {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 20px;
}

.privacy-policy-content {
  max-width: 1000px;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 3%;
  font-family: "Overpass", sans-serif;
  padding-bottom: 80px;
}
.privacy-policy-content h3 {
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 0;
}
.privacy-policy-content p {
  font-weight: 300;
  padding-top: 3px;
  padding-bottom: 10px;
  font-size: 1em;
  line-height: 1.5em;
}

.wpforms-container {
  min-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wpforms-container .wpforms-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}
.wpforms-container .wpforms-form .wpforms-field-container {
  width: 100%;
}
.wpforms-container .wpforms-form .wpforms-field-container div input:-webkit-autofill,
.wpforms-container .wpforms-form .wpforms-field-container div input:-webkit-autofill:hover,
.wpforms-container .wpforms-form .wpforms-field-container div input:-webkit-autofill:focus,
.wpforms-container .wpforms-form .wpforms-field-container div input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}
.wpforms-container .wpforms-form .wpforms-field-container div input:-webkit-autofill {
  -webkit-text-fill-color: #313131 !important;
  font-family: "Overpass", sans-serif !important;
}
.wpforms-container .wpforms-form .wpforms-field-container div input {
  border: none;
  border-bottom: 1.5px solid #313131;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: #313131;
}
.wpforms-container .wpforms-form .wpforms-field-container div input::-moz-placeholder {
  color: rgb(177, 177, 177);
  font-weight: 200;
}
.wpforms-container .wpforms-form .wpforms-field-container div input:-ms-input-placeholder {
  color: rgb(177, 177, 177);
  font-weight: 200;
}
.wpforms-container .wpforms-form .wpforms-field-container div input::placeholder {
  color: rgb(177, 177, 177);
  font-weight: 200;
}
.wpforms-container .wpforms-form .wpforms-field-container div input:focus {
  outline: none;
}
.wpforms-container .wpforms-form .wpforms-field-container div textarea {
  height: 70px;
  border: none;
  border-bottom: 1.5px solid #313131;
  resize: none;
  overflow: scroll;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: #313131;
}
.wpforms-container .wpforms-form .wpforms-field-container div textarea:focus {
  outline: none;
}
.wpforms-container .wpforms-form .wpforms-field-container div textarea::-moz-placeholder {
  color: rgb(177, 177, 177);
  font-weight: 200;
}
.wpforms-container .wpforms-form .wpforms-field-container div textarea:-ms-input-placeholder {
  color: rgb(177, 177, 177);
  font-weight: 200;
}
.wpforms-container .wpforms-form .wpforms-field-container div textarea::placeholder {
  color: rgb(177, 177, 177);
  font-weight: 200;
}
.wpforms-container .wpforms-form .wpforms-submit-container button.wpforms-submit {
  margin-top: 20px;
  min-width: 180px;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  background: transparent;
  transition-property: color;
  transition-duration: 0.3s;
  font-family: "Overpass", sans-serif;
  color: #313131 !important;
  border: 1.6px solid #313131;
}
.wpforms-container .wpforms-form .wpforms-submit-container button.wpforms-submit:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  background: #313131;
  transform: scaleX(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.wpforms-container .wpforms-form .wpforms-submit-container button.wpforms-submit:hover, .wpforms-container .wpforms-form .wpforms-submit-container button.wpforms-submit:focus, .wpforms-container .wpforms-form .wpforms-submit-container button.wpforms-submit:active {
  color: #ffffff !important;
}
.wpforms-container .wpforms-form .wpforms-submit-container button.wpforms-submit:hover:before, .wpforms-container .wpforms-form .wpforms-submit-container button.wpforms-submit:focus:before, .wpforms-container .wpforms-form .wpforms-submit-container button.wpforms-submit:active:before {
  transform: scaleX(1);
  color: #ffffff;
}
.wpforms-container .wpforms-form .wpforms-submit-container button.wpforms-submit:hover {
  background: none;
  height: 43.19px;
  border: 1.6px solid #313131;
}

div.cst-form-light {
  min-width: 350px;
  display: flex;
  align-items: center;
  justify-content: left;
}
div.cst-form-light .wpforms-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 60px;
}
div.cst-form-light .wpforms-form .wpforms-field-container {
  width: 100%;
}
div.cst-form-light .wpforms-form .wpforms-field-container div {
  max-width: 370px;
}
div.cst-form-light .wpforms-form .wpforms-field-container div input:-webkit-autofill,
div.cst-form-light .wpforms-form .wpforms-field-container div input:-webkit-autofill:hover,
div.cst-form-light .wpforms-form .wpforms-field-container div input:-webkit-autofill:focus,
div.cst-form-light .wpforms-form .wpforms-field-container div input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #313131 inset !important;
}
div.cst-form-light .wpforms-form .wpforms-field-container div input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
  font-family: "Overpass", sans-serif !important;
}
div.cst-form-light .wpforms-form .wpforms-field-container div input {
  border: none;
  background-color: transparent;
  border-bottom: 1.5px solid #ffffff;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: #ffffff;
}
div.cst-form-light .wpforms-form .wpforms-field-container div input::-moz-placeholder {
  color: rgb(177, 177, 177);
  font-weight: 200;
}
div.cst-form-light .wpforms-form .wpforms-field-container div input:-ms-input-placeholder {
  color: rgb(177, 177, 177);
  font-weight: 200;
}
div.cst-form-light .wpforms-form .wpforms-field-container div input::placeholder {
  color: rgb(177, 177, 177);
  font-weight: 200;
}
div.cst-form-light .wpforms-form .wpforms-field-container div input:focus {
  outline: none;
}
div.cst-form-light .wpforms-form .wpforms-field-container div textarea {
  height: 70px;
  border: none;
  border-bottom: 1.5px solid #ffffff;
  background-color: transparent;
  resize: none;
  overflow: scroll;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: #ffffff;
}
div.cst-form-light .wpforms-form .wpforms-field-container div textarea:focus {
  outline: none;
}
div.cst-form-light .wpforms-form .wpforms-field-container div textarea::-moz-placeholder {
  color: rgb(177, 177, 177);
  font-weight: 200;
}
div.cst-form-light .wpforms-form .wpforms-field-container div textarea:-ms-input-placeholder {
  color: rgb(177, 177, 177);
  font-weight: 200;
}
div.cst-form-light .wpforms-form .wpforms-field-container div textarea::placeholder {
  color: rgb(177, 177, 177);
  font-weight: 200;
}
div.cst-form-light .wpforms-form .wpforms-submit-container button.wpforms-submit {
  margin-top: 20px;
  min-width: 180px;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  background: transparent;
  transition-property: color;
  transition-duration: 0.3s;
  font-family: "Overpass", sans-serif;
  color: #ffffff !important;
  border: 1.6px solid #ffffff;
}
div.cst-form-light .wpforms-form .wpforms-submit-container button.wpforms-submit:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #313131;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
div.cst-form-light .wpforms-form .wpforms-submit-container button.wpforms-submit:hover, div.cst-form-light .wpforms-form .wpforms-submit-container button.wpforms-submit:focus, div.cst-form-light .wpforms-form .wpforms-submit-container button.wpforms-submit:active {
  color: #313131 !important;
}
div.cst-form-light .wpforms-form .wpforms-submit-container button.wpforms-submit:hover:before, div.cst-form-light .wpforms-form .wpforms-submit-container button.wpforms-submit:focus:before, div.cst-form-light .wpforms-form .wpforms-submit-container button.wpforms-submit:active:before {
  transform: scaleX(1);
  color: #313131;
}
div.cst-form-light .wpforms-form .wpforms-submit-container button.wpforms-submit:hover {
  background: none;
  height: 43.19px;
  border: 1.6px solid #ffffff;
}

.contact-page-heading {
  padding-left: 8%;
  padding-top: 50px;
}
.contact-page-heading div {
  font-family: "Overpass", sans-serif;
}
.contact-page-heading div h4 {
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 1px;
}
.contact-page-heading div p {
  font-weight: 300;
}

.contact-page-group {
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 80px;
}
.contact-page-group div .wp-block-columns {
  width: 100%;
  gap: 5em;
}
.contact-page-group div .wp-block-columns h2 {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 500;
  padding-bottom: 1px;
  font-size: 2.5em;
}
.contact-page-group div .wp-block-columns p {
  padding-bottom: 20px;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
}
.contact-page-group div .wp-block-columns h5 {
  padding-top: 10px;
  padding-bottom: 6px;
  font-family: "Overpass", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

h2.contact-page-social-heading {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 500;
  font-size: 2.5em;
  padding-bottom: 1px;
}

div.contact-page-social-icons {
  height: 60px;
  margin-bottom: 90px;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
div.contact-page-social-icons i {
  font-size: 1.6em;
}
div.contact-page-social-icons i:hover {
  cursor: pointer;
  color: rgb(98, 98, 98);
  transition: 0.2s;
}

.opacity-img img {
  opacity: 0.15;
}

div.about-heading {
  padding-left: 8%;
  padding-right: 5%;
  min-height: 40vh;
}
div.about-heading p {
  font-family: "Overpass", sans-serif;
  color: #313131;
  font-weight: 300;
  font-size: 1.1em;
}

div.wp-container-8,
div.wp-container-13 {
  gap: 5em !important;
  justify-content: center;
}

div.staff-block {
  display: flex;
  flex-direction: row;
  min-height: 180px;
  max-width: 410px;
}
div.staff-block .wp-block-group {
  color: #ffffff;
  padding-left: 15px;
}
div.staff-block .wp-block-group h4 {
  font-family: "Alumni Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  padding-top: 0;
  padding-bottom: 0;
}
div.staff-block .wp-block-group h5 {
  font-family: "Alumni Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  padding-top: 2px;
  padding-bottom: 5px;
}
div.staff-block .wp-block-group p {
  font-family: "Overpass", sans-serif;
  font-size: 1em;
  font-weight: 300;
  padding-top: 0;
  padding-bottom: 0;
}
div.staff-block figure {
  min-width: 140px;
}
div.staff-block figure img {
  min-height: 140px;
  min-width: 140px;
}

div.about-form-map {
  justify-content: center;
  width: 100%;
  -moz-column-gap: 5em;
       column-gap: 5em;
}
div.about-form-map div {
  max-width: 450px;
}
div.about-form-map div .wpforms-container {
  width: 300px;
}

.service-post {
  padding-left: 8%;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.service-post img {
  height: 12rem;
  width: auto;
}
.service-post .service-post-text {
  max-width: 500px;
  padding-left: 3em;
}
.service-post .service-post-text h3 {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 500;
  font-size: 2em;
}
.service-post .service-post-text p {
  padding-top: 0;
  padding-bottom: 2px;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.4em;
}
.service-post .service-post-text a {
  margin-top: 20px;
  padding: 10px 25px;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  background: transparent;
  transition-property: color;
  transition-duration: 0.3s;
  font-family: "Overpass", sans-serif;
  color: #313131 !important;
  border: 1.6px solid #313131;
}
.service-post .service-post-text a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  background: #313131;
  transform: scaleX(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.service-post .service-post-text a:hover, .service-post .service-post-text a:focus, .service-post .service-post-text a:active {
  color: #ffffff !important;
}
.service-post .service-post-text a:hover:before, .service-post .service-post-text a:focus:before, .service-post .service-post-text a:active:before {
  transform: scaleX(1);
  color: #ffffff;
}
.service-post .service-post-text a:hover {
  background: none;
  height: 43.19px;
  border: 1.6px solid #313131;
}

.services-heading {
  padding-left: 8%;
}
.services-heading h2 {
  padding-bottom: 0;
}
.services-heading p {
  max-width: 540px;
  padding-bottom: 50px;
  font-family: "Overpass", sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.services-contact {
  max-width: 430px;
  margin: auto;
}
.services-contact h2 {
  padding-bottom: 8px;
}
.services-contact p {
  padding-bottom: 10px;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

div.product-gutenberg-content p {
  padding-bottom: 50px;
}
div.product-gutenberg-content .wp-block-envira-envira-gallery img {
  display: none;
  visibility: hidden;
}
div.product-gutenberg-content .envira-gallery-wrap img {
  display: block;
  visibility: visible;
}
div.product-gutenberg-content .wpforms-container {
  max-width: 500px;
}

.search-page {
  padding-left: 8%;
}
.search-page h2 {
  padding-bottom: 20px;
}
.search-page h3 {
  font-family: "Overpass", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  padding-bottom: 30px;
}
.search-page h3 span {
  font-weight: 500;
  text-decoration: underline;
}
.search-page form input#s {
  padding: 5px 10px;
  min-width: 30%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #313131;
  font-family: "Overpass", sans-serif;
  color: #313131;
  font-size: 1em;
}
.search-page form input#s:focus {
  outline: none;
}
.search-page form input#searchsubmit {
  padding: 5px 20px;
  margin-left: 15px;
  font-family: "Overpass", sans-serif;
  background-color: #313131;
  border: none;
  color: #ffffff;
  font-weight: 300;
  font-size: 0.8em;
}
.search-page form input#searchsubmit:hover {
  cursor: pointer;
  background-color: #505050;
  transition: 0.2s ease;
}
.search-page .search-results {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-bottom: 100px;
  padding-right: 8%;
}
.search-page .search-results .search-item {
  border-bottom: 0.8px solid #313131;
  padding-bottom: 30px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.search-page .search-results .search-item div {
  max-width: 730px;
  color: #313131;
}
.search-page .search-results .search-item div h5 {
  font-family: "Alumni Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 2px;
}
.search-page .search-results .search-item div p {
  font-family: "Overpass", sans-serif;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 4px;
}
.search-page .search-results .search-item div div a {
  color: #313131;
  text-decoration: none;
}
.search-page .search-results .search-item div div a:hover {
  text-decoration: underline;
}
.search-page .search-results .search-item div.search-item-img img {
  min-width: 100%;
}

.page-not-found {
  padding-left: 8%;
  padding-right: 8%;
}
.page-not-found h2 {
  padding-bottom: 30px;
}
.page-not-found .page-not-found-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.page-not-found .page-not-found-content p {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
}
.page-not-found .page-not-found-content h4 {
  margin-top: 50px;
  padding-bottom: 15px;
}
.page-not-found .page-not-found-content h4 a {
  font-family: "Overpass", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #313131;
  text-decoration: none;
}
.page-not-found .page-not-found-content h4 a i {
  font-size: 0.75em;
}
.page-not-found .page-not-found-content h4 a:hover {
  text-decoration: underline;
}
.page-not-found .page-not-found-content form input#s {
  padding: 5px 10px;
  min-width: 30%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #313131;
  font-family: "Overpass", sans-serif;
  color: #313131;
  font-size: 1em;
}
.page-not-found .page-not-found-content form input#s:focus {
  outline: none;
}
.page-not-found .page-not-found-content form input#searchsubmit {
  padding: 5px 20px;
  margin-left: 15px;
  font-family: "Overpass", sans-serif;
  background-color: #313131;
  border: none;
  color: #ffffff;
  font-weight: 300;
  font-size: 0.8em;
}
.page-not-found .page-not-found-content form input#searchsubmit:hover {
  cursor: pointer;
  background-color: #505050;
  transition: 0.2s ease;
}

.post-navigation div.nav-links {
  display: flex;
  padding-top: 60px;
  padding-bottom: 100px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.post-navigation div.nav-links div {
  background-color: #313131;
  padding: 8px 20px;
  border: 1px solid #313131;
  transition: 0.2s ease;
}
.post-navigation div.nav-links div a {
  text-decoration: none;
  color: #ffffff;
}
.post-navigation div.nav-links div a .post-title {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.post-navigation div.nav-links div:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.post-navigation div.nav-links div:hover a {
  color: #313131;
}

.comments-block {
  padding-top: 50px;
}
.comments-block div#respond h3 {
  font-family: "Alumni Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  padding-bottom: 5px;
}
.comments-block div#respond form {
  display: flex;
  flex-direction: column;
}
.comments-block div#respond form p.comment-notes {
  padding-bottom: 6px;
  font-family: "Overpass", sans-serif;
  font-size: 0.8em;
  color: #313131;
  font-weight: 300;
}
.comments-block div#respond form p.comment-form-comment,
.comments-block div#respond form p.comment-form-author,
.comments-block div#respond form p.comment-form-email,
.comments-block div#respond form p.comment-form-url {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding-bottom: 10px;
}
.comments-block div#respond form p.comment-form-comment label,
.comments-block div#respond form p.comment-form-author label,
.comments-block div#respond form p.comment-form-email label,
.comments-block div#respond form p.comment-form-url label {
  padding-bottom: 5px;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #313131;
}
.comments-block div#respond form p.comment-form-url,
.comments-block div#respond form p.comment-form-cookies-consent {
  display: none;
  visibility: hidden;
}
.comments-block div#respond form p.form-submit {
  margin-top: 10px;
}
.comments-block div#respond form p.form-submit input {
  padding: 8px 30px;
  border: none;
  background-color: #313131;
  color: #ffffff;
  border: 1px solid #313131;
  transition: 0.2s ease;
}
.comments-block div#respond form p.form-submit input:hover {
  cursor: pointer;
  color: #313131;
  background-color: #ffffff;
}

@media screen and (max-width: 781px) {
  div.wp-container-5 {
    flex-direction: column;
    align-content: center;
  }
  div.wp-container-10 {
    flex-direction: column;
    align-content: center;
  }
}
@media screen and (max-width: 940px) {
  div.wp-container-15 {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 65vh;
  }
  div.wp-container-14 {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    text-align: center;
    min-height: 320px;
  }
  div.wp-container-14 h3 {
    margin: auto;
  }
  div.wp-container-13 {
    display: flex;
    align-items: center !important;
    flex-direction: column;
    min-height: 120px;
  }
  div.wp-container-13 div {
    text-align: center;
  }
}
@media screen and (max-width: 545px) {
  .banner-content {
    min-width: 0px !important;
  }
  .banner-content p {
    width: 90% !important;
    min-width: 0;
  }
}
@media screen and (max-width: 545px) {
  .wp-container-13 div {
    min-width: 200px;
  }
}
@media screen and (max-width: 380px) {
  .wpforms-container .wpforms-form .wpforms-field-container {
    width: 90%;
  }
}
@media screen and (max-width: 340px) {
  .wpforms-container .wpforms-form .wpforms-field-container {
    max-width: 260px;
  }
}
@media screen and (max-width: 835px) {
  footer {
    flex-direction: column;
    row-gap: 50px;
    padding-top: 60px;
  }
  footer .footer-content {
    margin: auto;
  }
  footer .footer-content ul {
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 885px) {
  .service-post img {
    min-width: 296px !important;
  }
}
@media screen and (max-width: 740px) {
  div.service-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .service-post img {
    padding-bottom: 15px;
    height: 23rem;
  }
  .service-post .service-post-text {
    padding-left: 0;
  }
  .service-post-text p {
    max-width: 450px !important;
  }
}
@media screen and (max-width: 635px) {
  .service-post img {
    min-width: none;
    width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 505px) {
  .product-custom-item-block {
    display: none;
    visibility: hidden;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

h1 {
  padding-top: 6%;
  font-family: "Alumni Sans", sans-serif;
  font-size: 3.2em;
  font-weight: 500;
  color: #313131;
}

.front-page-blocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.push-title {
  padding-left: 8%;
}

.purchase {
  padding-left: 8%;
}
.purchase h2 {
  max-width: 500px;
}/*# sourceMappingURL=main.css.map */