$dk-grey: #313131;

.has-leather-goods-grey-color {
  color: #313131;
}

.has-leather-goods-grey-background-color {
  background-color: #313131;
}

.has-white-color {
  color: #ffffff;
}

.has-white-background-color {
  background-color: #ffffff;
}
